<script src="{{STATIC_URL}}js/jquery.bxslider.js"></script>
<link href="{{STATIC_URL}}css/jquery.bxslider.css" rel="stylesheet" />

<script type="text/javascript">
  $(document).ready(function(){
    
$('.bxslider').bxSlider({
  mode: 'fade',
  captions: false,
  controls: false,
  pager:false,
  auto:true,
  speed:5000,
  pause:4000,
});
  });
</script>

<style>
#banner_conteiner{
    width: 464px;
    height: 229px;
    float:left;
    margin: 15px 0 15px 65px;
    background-color: #fff;
    box-shadow: 0px 3px 5px 1px #686868;
}

ul.bxslider{
    margin:0;
}

</style>
<div id="banner_conteiner">
<ul class="bxslider">
	{% for img in carousel %}
	<li><img src="{{img.image.url}}"></li>
	{% endfor %}
</ul>
</div>