body{
    background-color: #cbe6e9;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
#content{
    width:865px;
    margin: 0 auto;
}
.base_content{
    background-color:#fff;
    padding: 14px;
    box-shadow: 0px 3px 5px 1px #686868;
}
.base_content_img{
    margin-top: -7px;
}
#header_wrap{
    background:url('/static/img/fr_header.jpg') repeat-x;
}
#top_block{
    background: url('/static/img/header.jpg') no-repeat;
    height:263px;
}
#logo_block{
    height: 151px;
}
#logo{
    float: right;
    margin: 0 55px 0 0;
}
#mail{
    float:right;
    background: url('/static/img/mail.png') no-repeat;
    width: 156px;
    height: 84px;
    margin-right: 80px;
    display: inline-block;
}
#info_block{
    padding: 26px 3px 13px 33px;
}
#info_block p {
    margin:0;
}
#phones{
    float:right;
    display: inline-block;
    width: 200px;
}
.page_title{
    color:#78383a;
    font-size: 16px;
    padding: 20px 0 10px 0;
}
#hmenu{
    margin-top: 10px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0px 3px 5px 1px #686868;
}
#hmenu li{
    display: inline-block;
    margin: 5px 9px;
    max-width: 127px;
    vertical-align: middle;
}
#hmenu a{
    color:#78383a;
    font-size: 12px;
}
#hmenu li.selected a{
    color:#0396d0;
}
#hmenu_img{
    margin-top: -3px;
}
.vmenu{
    margin-bottom: 16px;
    box-shadow: 0px 3px 5px 1px #686868;
}
.vmenu a{
    color:#995356;
    padding:10px;
    display: inline-block;
}
.vmenu_img{
    margin-top: -41px;
}
.vmenu > ul{
    background-color:#fff;
    list-style: none;
    margin: 0;
}
.vmenu ul.child{
    display: none;
}

.vmenu .parent_selected > ul.child{ 
    display: block;
    background-color:#d8d6d6;
    margin: 0;
    list-style: none; 
    padding-left:25px;
}

.vmenu .parent_selected > a{
    box-shadow: 0px 2px 3px 0px #686868;
    width: 200px;
    display: inline-block;
}

.vmenu li.selected a{
    color:#0396d0;
}

.vmenu ul.child_open{
    display: block;
    background-color:#d8d6d6;
    margin: 0;
    list-style: none; 
    padding-left:25px;
}
.vmenu a.parent_open{
    box-shadow: 0px 2px 3px 0px #686868;
    width: 200px;
    display: inline-block;
    color:#0396d0;
}
footer{
    background: url('/static/img/footer.jpg') no-repeat;
    width: 1000px;
    height: 127px;
    margin-top: -18px;
}
footer p{
    padding: 0 30px;
}
footer div.page-header {
    border: none;
} 
#time{
    padding: 15px 60px 0 0;
    float: right;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -6px;
}
#footer_wrap{
    background:url('/static/img/fr_footer.jpg') repeat-x;
}
i[class^="icon-"] {
    opacity: 1;
}
div.right{
    float: right;
}
div.left{
    float: left;
}
div.center{
    text-align: center;
}
.gallery-photo img{
    margin: 5px;
}
.gallery-gallery {
    display:inline;
}
#id_Message {
    width:90%;
}