<a href="/news"><p class="page_title">News</p></a>
<div class="base_content">
    <div class="blog_post">
        <div class="row">
            <div class="span2">
                    <img src="{{last.image.url}}" alt="post image"/>
            </div>
            <div class="span4">
                <h4>
                   {{ last.title }}
                </h4>
                <div class="intro">
                    {{last.excerpt|safe}}
                </div>
            </div>
        </div>
    </div>
</div>
<img class="base_content_img" src="{{STATIC_URL}}img/shadow kontent block.png">