
{% load i18n %}
  {% for news in latest %}
    <div class="news_content"><a href="{{ news.get_absolute_url }}"><h3>{{ news.title }}</h3></a>
    <p>{{news.excerpt|safe}}</p>
    </div>
  {% empty %}
    <div>{% trans "Нет ни одной записи" %}</div>
  {% endfor %}

