{% extends "base.html" %}
{% load menu_tags %}

{% block breadcrumbs %}<a href="/">{% show_breadcrumb %}</a>» {{ object.title }}{% endblock %}

{% block base_content %}
<h1>{{ object.title }}</h1>

<p><span class="date">{{ object.pub_date }}</span><br/>
<div id="news_content">
  {{ object.content|safe }}
</div>
</p>

{% endblock %}

