<form class="well form-horizontal" method="POST" action="/add_review/">
    {% csrf_token %} 
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    <div class="control-group">
        <label class="control-label">Name:</label> 
        <div class="controls">
            <input type="text" name="name" class="input-large" placeholder="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Last name:</label> 
        <div class="controls">
            <input type="text" name="last_name" class="input-large" placeholder="">
    </div>
    </div>
    <div class="control-group">
        <label class="control-label">E-mail:</label> 
        <div class="controls">
            <input type="text" name="email" class="input-large" placeholder="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Testimonial:</label> 
        <div class="controls">
            <textarea class="input-xlarge" name="review" rows="3"></textarea>
        </div>
    </div>  
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Send">
        </div>
    </div>
</form>
{% load pagination_tags %}
{% autopaginate reviews 15 %}
{% for review in reviews %}
<h4><i class="icon-ok"></i> {{ review.pub_date|date:"d.m.Y"  }}, {{ review.name }}</h4>
<p>{{ review.review }}</p>
{% endfor %}
{% paginate %}