{% load cms_tags %}
{% page_attribute "page_title" as page %}
 <li class="parent"><a href="{{ instance.url.url }}">{{ instance.url.title }}</a>
 <ul class="child">
    {% for item in items %}
        <li class="{% if page == item.title %}selected{%endif%}"><a href='{{ item.url }}' >{{ item.title }}</a></li> 
    {% endfor %}
</ul>
</li>
<script>
$(document).ready(function() {
if ($('li.selected').length>0){
    l = $('li.selected').first().closest('li.parent');
    if (l.length>0){    
    l[0].className = 'parent_selected';
}

}
});
$('.parent').mouseenter(function() {
  this.getElementsByTagName('ul')[0].className = 'child_open';
  this.getElementsByTagName('a')[0].className = 'parent_open';
})
$('.parent').mouseleave(function() {
  this.getElementsByTagName('ul')[0].className = 'child';
  this.getElementsByTagName('a')[0].className = 'parent';
})
</script>
