{% load cms_tags sekizai_tags %}
{% load i18n %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% page_attribute meta_description %}">
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The styles -->       
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <!--<link rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less">-->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap_01.css" rel="stylesheet">
    <!--<script src="{{ STATIC_URL }}js/less.js"></script>-->
    {% render_block "css" %}
    {% block head %}{% endblock %}
    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">

    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.fancybox.js"></script>  
    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.jclock.js"></script> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.custom.css" rel="stylesheet">
    <script type='text/javascript'>//<![CDATA[
    $(window).load(function(){
    $(document).ready(function(){
    $('.fancybox').fancybox();
    $('.carousel').carousel({
      interval: 2000
    })
    });
    });//]]>
    </script> 
  </head>
  <body>
{% cms_toolbar %}
{% block top_content%}{% include "top_block.html" %}{% endblock %}
<div class="container">
  <div class="hidden-phone hidden-tablet"></div>
      {% if messages %}
      {% for m in messages %}
      <div class="msg-alert alert alert-{% if m.tags == 'error' %}error{% else %}info{% endif %}">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {{ m }}
      </div>
      {% endfor %}
      <script type="text/javascript">
        $('.msg-alert').delay(5000).hide(1);
      </script>
    {% endif %}
<!--       {% block breadcrumbs %}{% show_breadcrumb 0 "menu/breadcrumb.html" False %}{% endblock %} -->
    <div id="content" >
      {% block horizontal_menu_content%}
      {% include "horizontal_menu_block.html" %}
      {% endblock %}
        <div class="row">
          <div class="span3">
            {% block vertical_menu_content%}{% include "vertical_menu_block.html" %}{% endblock %}
          </div>
          <div class="span8">
              <p class="page_title">{% page_attribute "page_title" %}</p>
              <div class="base_content">
                  {% block base_content%}{% endblock %}
              </div>
              <img class="base_content_img" src="{{STATIC_URL}}img/shadow kontent block.png">
              {% placeholder "news" %}
          </div>
        </div>     
    </div>  
</div> <!-- /container -->
{% block footer_content%}{% include "footer_block.html" %}{% endblock %}
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap-datepicker.js"></script>
{% render_block "js" %}
{% block finish %}{% endblock %}
</body></html>

