<div id="footer_wrap">
<div class="container">
<footer>
  <div class="page-header"></div>
  <p>&copy; 2013 - Сайт "Fun travel", все права защищены     
    <a href="http://www.aquaweb.com.ua/read/ru/sozdanie-sajtov">Создание сайтов ООО "Аква-вебстудио"</a>
</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta arcu at elit mattis ut feugiat urna feugiat. </p>
</footer>
</div>
</div>