<div id="header_wrap">
<div class="container">
{% load cms_tags %}
<div id="top_block" align="center">
{% placeholder banner_block or %} 
{% show_uncached_placeholder "banner_block" "main" %}
{% endplaceholder %}   
<div id="logo_block"><p id="time"> </p><img id="logo" src="{{STATIC_URL}}img/logo.png"></div>
<div>
<div id="mail">
    <div id="info_block">
    {% placeholder mail_block or %} 
    {% show_uncached_placeholder "mail_block" "main" %}
    {% endplaceholder %}
    </div>
</div>
    <div id="phones">
    {% placeholder phones_block or %} 
    {% show_uncached_placeholder "phones_block" "main" %}
    {% endplaceholder %}
    </div>
</div>
</div>
<script type="text/javascript">
$(function($) {
      var options = {
        format: '%l:%M %p Kiev time',
        utc: true,
        utc_offset: +2,
      }
      $('#time').jclock(options);
    });
</script>
</div>
</div>