{% load cms_tags %}
<p class="page_title">Services</p>  
<div class="vmenu">
    <ul>
    {% placeholder menu1 or %} 
    {% show_uncached_placeholder "menu1" "main" %}
    {% endplaceholder %}
    </ul>
</div>
<img class="vmenu_img" src="{{STATIC_URL}}img/shadow vertical block.png">
<div class="vmenu">
    <ul>
    {% placeholder menu2 or %} 
    {% show_uncached_placeholder "menu2" "main" %}
    {% endplaceholder %}
    </ul>
</div>
<img class="vmenu_img" src="{{STATIC_URL}}img/shadow vertical block.png">


<link rel="stylesheet" type="text/css" href="http://www.gismeteo.ua/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-qggA7ET7GT4oy6" class="gsInformer" style="width:200px;height:129px">
  <div class="gsIContent">
   <div id="cityLink">
     <a href="http://www.gismeteo.com/city/daily/4944/" target="_blank">Weather in Kiev</a>
   <br />
<a href="http://www.gismeteo.com/city/daily/4949/" target="_blank">Weather in Lviv</a>
   <br />
<a href="http://www.gismeteo.com/city/daily/4982/" target="_blank">Weather in Odessa</a>
   <br />
<a href="http://www.gismeteo.com/city/daily/5002/" target="_blank">Weather in Yalta</a>
   </div>
   <div class="gsLinks">
     <table>
       <tr>
         <td>
           <div class="leftCol">
             <a href="http://www.gismeteo.com" target="_blank">
               <img alt="Gismeteo" title="Gismeteo" src="http://www.gismeteo.ua/static/images/informer2/logo-mini2.png" align="absmiddle" border="0" />
               <span>Gismeteo</span>
             </a>
           </div>
           <div class="rightCol">
             <a href="http://www.gismeteo.com/" target="_blank">2-weeks forecast</a>
           </div>
           </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="http://www.gismeteo.ua/ajax/getInformer/?hash=qggA7ET7GT4oy6" type="text/javascript"></script>


<style>
#IUAfinance40 { min-width: 175px; width: %; cursor: pointer; margin: 20px 0 0 0;}
#IUAfinance40 * {margin: 0; padding: 0;}
#IUAfinance40 .content {overflow: hidden; padding: 4px; font-family: Arial; font-size: 10px; color: #000000; background: #ffffff; border: 1px solid #783839;}
#IUAfinance40 h1 {overflow: hidden; margin-top: -4px; font-size: 12px; font-weight: bold; height: 20px; line-height: 20px; color: #783839;}
#IUAfinance40 h1 span {float: left; white-space: nowrap;}
#IUAfinance40 h1 i {float: right; display: inline-block; width: 36px; height: 15px; background: url(http://i.i.ua/v2/logo/logo_small_14_black.png) no-repeat 0 1px transparent; opacity: .3;}
#IUAfinance40 a, #IUAfinance40 a:hover {border: none; text-decoration: underline; color: #783839;}
#IUAfinance40 dl {overflow: hidden; background: #ffffff; padding: 4px; margin-bottom: 4px;}
#IUAfinance40 dl dt {font-weight: bold; font-size: 12px;}
#IUAfinance40 dl dd {clear: left; border-top: 1px dotted #DDD;}
#IUAfinance40 dl span {display: block; float: left; width: 39%; white-space: nowrap; text-align: right;}
#IUAfinance40 dl span.th {width: 22%; text-align: left;}
#IUAfinance40 dl dt span {font-size: 10px; font-weight: normal;}
#IUAfinance40 dl dd span {line-height: 24px; font-size: 20px; font-family: Trebuchet MS;}
#IUAfinance40 dl dd span img {vertical-align: middle; margin-right: 1px;}
</style>
<div id="IUAfinance40">
    <div class="content">
        <h1><span><a href="http://finance.i.ua/bank/15/" id="IUAfinance40TitleLink">Курсы валют</a></span><i></i></h1>
        <dl id="IUAfinance40Embed"></dl>
        <a href="http://finance.i.ua/">Курсы доллара, евро и рубля по банкам</a>
    </div>
</div>
<script type="text/javascript">
if (typeof(iFinance) == "undefined") {
    if (typeof(iFinanceData) == "undefined") {
        document.write('<scr' + 'ipt src="http://i.i.ua/js/i/finance_informer.js?1" type="text/javascript" charset = "windows-1251"></scr' + 'ipt>');
        iFinanceData = [];
    }
    iFinanceData.push({b:15,c:[840,978,643],enc:0, lang:0,p:'40'});
} else {
    window['oiFinance40'] = new iFinance();
    window['oiFinance40'].gogo({b:15,c:[840,978,643],enc:0, lang:0,p:'40'});
}
</script>